<div class="eight columns form username">
    <h2>Instagram Username</h2>
    <%= form_tag root_path, :method => :post, :remote => true do %>
    	<%= submit_tag 'Lookup ID', :class => 'button' %>
        <div class="text_fields">
        	<%= text_field_tag 'username', nil, {:placeholder => 'Username'} %>
        	<%= text_field_tag 'access_token', nil, {:placeholder => 'Access Token (optional)'} %>
        </div>
    <% end %>
    <p>If you'd like to user your own Instagram access token, you can enter it above. <%= link_to 'Get an access token here.', 'http://instagram.com/developer/register/' %></p>
</div>

<div class="eight columns form uid">
	<%= image_tag('loading.gif', {:alt => 'loading', :id => 'loading'}) %>
    <h2>Instagram User ID</h2>
    <h3><%= @return[:id] if @return[:id] %></h3>
    <h4><%= @return[:error] %></h4>
    
    <!-- Manually load attributes into div if request is not AJAX -->
    <div class="attributes">
    	<% if @return[:profile_picture] %><%= image_tag(@return[:profile_picture], {:alt => @return[:username]}) %><% end %>
    	<div class="info">
    		<ul>
	    		<%= "<li>#{@return[:full_name]}</li>".html_safe if @return[:full_name] %>
	    		<%= "<li>#{link_to(@return[:website], @return[:website], {:target => '_blank'})}</li>".html_safe if @return[:website] %>
	    		<%= "<li>#{@return[:bio]}</li>".html_safe if @return[:bio] %>
	    	</ul>
    	</div>
    </div>

</div>

<div class="sixteen columns link">
    <h3><%= link_to 'Django Source Code', 'https://github.com/zeantsoi/django-instagram-uid' %></h3>
    <h3><%= link_to 'Rails Source Code', 'https://github.com/zeantsoi/rails-instagram-uid' %></h3>
</div>

<div class="sixteen columns attribution">
    <%= link_to 'Created by Zean Tsoi', 'http://www.zeantsoi.com/'  %></a>
</div>
